replicator:
  units:
    - id: "replicate-1-to-2"

      source:
        endpoint: "127.0.0.1:502"
        unit_id: 1
        timeout_ms: 2000

      reads:
        - fc: 1
          address: 0
          quantity: 128
        - fc: 2
          address: 0
          quantity: 128
        - fc: 3
          address: 0
          quantity: 125
        - fc: 4
          address: 0
          quantity: 125

      targets:
        - id: 2
          endpoint: "127.0.0.1:502"
          memories:
            - offsets: {}

      poll:
        interval_ms: 1000
